<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Mahjong / Sign up</h1>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="columns">
          <div class="column is-half">
            <%= devise_error_messages! %>

            <%= f.label :email, class: 'label' %>
            <p class="control">
              <%= f.email_field :email, autofocus: true, class: 'input' %>
            </p>

            <%= f.label :password, class: 'label' %>
            <p class="control">
              <%= f.password_field :password, autocomplete: 'off', class: 'input' %>
              <% if @minimum_password_length %>
                <span class="help">
                  <%= @minimum_password_length %> characters minimum
                </span>
              <% end %>
            </p>

            <%= f.label :password_confirmation, class: 'label' %>
            <p class="control">
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'input' %>
            </p>

            <p class="control">
              <%= f.submit "Sign up", class: 'button is-primary' %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= render "devise/shared/links" %>
