<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Mahjong / Forgot your password?</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <div class="columns">
          <div class="column is-half">
            <%= devise_error_messages! %>

            <%= f.label :email, class: 'label' %>
            <div class="control">
              <%= f.email_field :email, autofocus: true, class: 'input' %>
            </div>

            <div class="control">
              <%= f.submit "Send me reset password instructions", class: 'button is-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<%= render "devise/shared/links" %>
