<section class="section">
  <div class="container">
    <h1 class="title">Mahjong</h1>
    <div class="columns">
      <div class="column">
        <%= form_for(Game.new) do |f| %>
          <%= f.submit 'New Game', class: 'button is-success is-large' %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-5">
        <h2 class="subtitle">Continue Playing</h2>
        <ul>
          <% @active_games.each do |game| %>
            <li class="game-list-item">
              <%= link_to game, class: 'game-link' do %>
                <%= game %>
                <span class="help">
                  <%= pluralize game.shuffles_remaining, 'shuffle' %> left
                </span>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if @completed_count > 0 %>
          <hr>
          <h2 class="subtitle">Past Games</h2>
          <ul>
            <% @completed_games.each do |game| %>
              <li>
                <%= game %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <% if @completed_count > 0 %>
        <div class="column is-5 is-offset-1">
          <h2 class="subtitle">Statistics</h2>
          <p>
            You have finished <strong><%= @completed_count %></strong>
            <%= 'game'.pluralize(@completed_count) %>.
          </p>
          <p>
            Won: <%= @win_count %> &mdash; <%= percentage @win_count, @completed_count %>
          </p>
          <p>
            Lost: <%= @lose_count %> &mdash; <%= percentage @lose_count, @completed_count %>
          </p>
        </div>
      <% end %>
    </div>
    <hr>
    <p>
      Signed in as <strong><%= current_user.email %></strong>
      &middot;
      <%= link_to 'Sign out', destroy_user_session_path %>
    </p>
  </div>
</section>
