<div class="game-board-container <%= @image %>">
  <div id="game-board" class="game-board" data-shuffle-url="<%= shuffle_game_path(@game) %>">
    <%= render partial: 'games/game_board', locals: {game: @game} %>
  </div>
</div>
<div class="game-controls">
  <div id="game-state" class="game-state">
    <%= render partial: 'games/state', locals: {game: @game} %>
  </div>
  <%= render partial: 'games/controls', locals: {game: @game, image: @image} %>
</div>
