<div class="game-board-container <%= @image %>">
  <div id="game-board" class="game-board" data-shuffle-url="<%= shuffle_game_path(@game) %>">
    <%= render partial: 'games/game_board', locals: {game: @game} %>
  </div>
</div>
<div class="game-controls">
  <p>
    Signed in as <strong><%= current_user.email %></strong>
  </p>
  <p>
    <%= link_to 'Sign out', destroy_user_session_path %>
  </p>
  <hr>
  <div id="game-state">
    <%= render partial: 'games/state', locals: {game: @game} %>
  </div>
  <%= render partial: 'games/controls', locals: {image: @image} %>
</div>
