<div class="game-board-container">
  <div id="game-board" class="game-board" data-tiles="<%= @game.tiles %>" data-shuffle-url="<%= temporary_shuffle_games_path(layout_id: @game.layout_id) %>">
    <%= render partial: 'games/game_board', locals: {game: @game} %>
  </div>
</div>
<div class="game-controls">
  <p>
    <%= link_to "Log in", new_user_session_path %> &middot;
    <%= link_to "Sign up", new_user_registration_path %>
  </p>
  <hr>
  <div id="game-state">
    <%= render partial: 'games/state', locals: {game: @game} %>
  </div>
  <button type="button" class="button is-dark" id="shuffle-tiles-button">
    Shuffle
  </button>
</div>
