<!DOCTYPE html>
<html>
  <head>
    <title>Mahjong</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= params[:controller] %> <%= params[:action] %>">
    <% if (msg = notice).present? %>
      <div class="container">
        <div class="notification is-success"><%= msg %></div>
      </div>
    <% end %>
    <% if (msg = alert).present? %>
      <div class="container">
        <div class="notification is-danger"><%= msg %></div>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
